
/* Your CSS Code here. */
*{
	padding:0px;
	margin:0px;
}
.item-1 {
	width:100px;
	height:100px;
	background-color:red;
}

.holder {
	height:100vh;
	width:100vw;
	display:flex;
	justify-content:center;
	align-items:center;
}